aiohttp==3.13.2
beautifulsoup4==4.14.3
boto3==1.42.15
cerebras==0.0.1
cohere==7.0.2
curl_cffi==0.10.0
ddgs==9.14.2
feedparser==6.0.12
fitz==0.0.1.dev2
httpx==0.28.1
imfdatapy==1.0.0
libsql_client==0.3.1
listparser==0.20
openai==2.38.0
pandas==3.0.3
pydantic==2.13.4
python-dotenv==1.2.2
Shapely==2.1.2
spacy==3.8.14
supabase==2.30.1
websockets==15.0.1
